/* @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #DC0032;
    --secondary: #FF780F;
    --accent: #D9D9D9;
    --bg-light: #ecf0f1;
    --text-dark: #2d3436;
    --text-light: #BFB9B9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--accent);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary);
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: var(--secondary);
}

#sidebar{
    width: 90px;
    min-width: 90px;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;

    background-color: var(--primary);
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    align-self: start;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    /* scrollbar-color: var(--secondary); */
}

#sidebar::-webkit-scrollbar {
    background: var(--secondary);  /* Track color */
    border-radius: 0px;
    width: 5px;
  }

#sidebar::-webkit-scrollbar-thumb {
    background: var(--secondary);  /* Handle color */
    border-radius: 0px;
    width: 3px;
}

#sidebar::-webkit-scrollbar-track {
    background: var(--text-light);  /* Track color */
    border-radius: 0px;
}
  

#sidebar.expand {
    width: 300px;
    min-width: 300px;
}

.sidebar-logo a {
    color: var(--primary);
    font-size: 1.15rem;
    font-weight: 700;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    white-space: nowrap;
    font-weight: 400;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.25rem;
    margin-right: 1rem;
    color: var(--secondary);
}

a.sidebar-link:hover {
    background-color: #b9032d;
    color: var(--bg-light);
    border-left: 3px solid var(--bg-light);
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand)  .sidebar-logo,
#sidebar:not(.expand)  a.sidebar-link span {
    animation: fadeIn .25s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sidebar:not(.expand)  .banca,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    width: 100%;
    opacity: 1;
    z-index: 1000;
}


/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 90px;
    width: 100%;
    background-color: var(--secondary);
    display: block;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    width: 100%;
    opacity: 1;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-dropdown {
    left: 130px;
    padding: 0;
    margin: 0;
    list-style: none;
} */

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: '';
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(135deg);
    transition: transform .25s ease-in-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(-45deg);
}

.sidebar-dropdown .sidebar-link {
    position: relative;
    padding-left: 3rem;
    transition: all .25s ease-in-out;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--bg-light);
}

.sidebar-dropdown a.sidebar-link::before {
    content: "";
    height: 0.125rem;
    width: 0.325rem;
    background-color: var(--bg-light);
    position: absolute;
    left: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease-in-out;
}

.sidebar-dropdown a.sidebar-link:hover {
    background: transparent;
    border-left: 8px solid var(--bg-light);
    padding-left: 3.8rem;
    color: var(--secondary);
    font-weight: 700;
}

.footer{
    background-color: #b9032d;
    margin: 1rem;
    border-radius: .75rem;
}

.absa_logo {
    margin-bottom: 1rem;
}

.welcome_text {
    line-height: .5rem;
}

.login_body {
    height: 100vh;
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.login_input_fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.login_input_fields input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--secondary);
    border-radius: 3px;
    background-color: white;
    outline: none;
}

.login_input_fields button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: var(--secondary);
    color: white;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.forgot_password {
    font-weight: 700;
}

.forgot_password:hover {
    text-decoration: none;
    color: var(--secondary);
}

.login_image {
    background-color: var(--primary);
    background-image: url('../images/home_bg.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.insuremaster {
    color: white;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
    padding: 2rem;
    flex-direction: column;
}

.insuremaster h2 {
    font-weight: 700;
    line-height: 1.5rem;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    width: 100%;
}

.banca{
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: larger;
    padding-top: 1rem;
}



.toggle-btn {
    width: 30px;
    height: 30px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: var(--bg-light);
}


.logodivone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    cursor: pointer;
}

.logotext {
    font-weight: 700;
}

.logotextdiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.logodivone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logodivone img {
    width: 50px;
    height: 50px;
}

.logodivone p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.logoarea {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav{
    position: sticky !important;
}

.sidebar-nav {
    padding: 0.7rem 0;
    flex: 1 auto;
    z-index: 10;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    white-space: nowrap;
    font-weight: 300;
    border-left: 3px solid transparent;
    font-size: .9rem;
}

.nav-icon {
    color: var(--secondary);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navthings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-weight: 700;
    padding-left: 1rem;
}

.welcome span {
    color: var(--primary);
}

.cardy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cards_body {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 1rem;
}

.content h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary);
}

.bell{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.bell_body{
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
}

.graphs_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.giraffe{
    width: 100%;
}

.graphs_area_one {
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.trap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lineChart{
    width: 100%;
    height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.graphs_areas {
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    width: 100%;
}

.summary {
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
}

.graphs_area_one p {
    font-weight: 600;
    color: var(--primary);
    font-size: 1.5rem;
}


.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table_footer button {
    color: var(--secondary);
    border: none;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
}

.entries {
    font-weight: 400;
}

.portfoli button {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 700;
    cursor: pointer;
}

tbody tr {
    font-size: small;
}

tr th {
    color: #DC0032;
}

td {
    padding-top: .25rem;
}

.entries {
    color: var(--secondary);
}

.myport {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.25rem;
}

.maker_checker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.maker {
    background-color: white;
    border-radius: .75rem;
    padding: 2rem;
}

.report_parameters_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 100%;
    z-index: 20;
}

.modal-backdrop {
    z-index: 1050 !important;
}
.modal {
    z-index: 1055 !important;
}

.modal-dialog {
    max-width: 60%;
}

.modali button{
    background-color: #DC0032;
    color: white;
    border: none;
}

.modali button:hover{
    background-color: var(--secondary);
    color: white;
    border: none;
}

.modal-content {
    padding: 2rem;
}

.workflow{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: end;
}

.workflow button{
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: .3rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
}

.workflow button:hover{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: .3rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
}

.workflowDiagram{
    background-color: var(--bg-light);
    border: var(--secondary) solid 1px;
    border-radius: .25rem;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workflowDiagram img{
    width: 100%;
}

.createReportButtons{
    display: flex;
    align-items: end;
    gap: .25rem;
}

.paraNames{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    background-color: var(--bg-light);
    border: var(--secondary) solid 1px;
    border-radius: .25rem;
    padding: 2rem;
}

.paraNamestwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
    border-bottom: var(--secondary) solid 1px;
    padding: 1rem 0rem;
}

.paraNamestwo select{
    outline: none;
    border: var(--secondary) solid 1px;
    padding: .25rem;
    border-radius: .25rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.createReportButtons .save{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.createReportButtons a{
    text-decoration: none;
    color: white;
}

.addParameter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: var(--primary);
}

.addParameter button{
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.report_parameters_header h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

.report_parameters_header button {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
}

.report_parameters_header button span {
    font-weight: 400;
}


#view {
    color: var(--text-dark);
    font-size: 1.5rem;
    cursor: pointer;
}

#edit {
    color: var(--secondary);
    font-size: 1.5rem;
    cursor: pointer;
}

#delete {
    color: var(--primary);
    font-size: 1.5rem;
    cursor: pointer;
}

.tablebody {
    padding: 2rem;
    background-color: white;
    border-radius: .5rem;
}

/* CREATE PARAMETERS */
.create-parameter{
    padding: 2rem;
    border: #FF780F solid 1px;
    border-radius: .5rem;
    background-color: var(--bg-light);
    margin-bottom: 1rem;
}

.create-parameter h3{
    font-size: 1.25rem;
    color: var(--primary);
}
.form-group-parameter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.paraName{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.paraName input{
    outline: none;
    border: var(--secondary) solid 1px;
    padding: .25rem;
    border-radius: .25rem;
    font-weight: 300;
}

.paraName select{
    outline: none;
    border: var(--secondary) solid 1px;
    padding: .25rem;
    border-radius: .25rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.lov{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.paraBot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.lov select{
    outline: none;
    border: var(--secondary) solid 1px;
    padding: .25rem;
    border-radius: .25rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.button-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.paraNameCheck{
    margin-top: 1rem;
}

.regiondetails{
    font-weight: 700;
    background-color: #DC0032;
    color: white;
    padding: .25rem 1rem;
    border-radius: .5rem;
    width: fit-content;
}

.button-area .cancel{
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
}

.button-area .cancel:hover{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.button-area .save{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
}

.button-area .save:hover{
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

label{
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.countryDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countryDetails button{
    background-color: var(--secondary);
    color: white;
    border: none;
}

.paginate_button page-item active{
    background-color: var(--secondary) !important;
}

.active>.page-link, .page-link.active{
    background-color: #DC0032;
    border: #DC0032 solid 1px;
}
a.page-link {
    color: var(--primary);
}

a.page-link:hover {
    color: var(--secondary);
}

.dataTables_info{
    color: var(--primary);
}

.paraName textarea{
    outline: none;
    border: var(--secondary) solid 1px;
    padding: .25rem;
    border-radius: .25rem;
    font-weight: 300;
}

.searchFilter{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: end;
}

.searchButton{
    background-color: var(--primary);
    border-radius: .25rem;
    color: var(--white);    
    border: none;
    padding: 0.3rem;
    font-size: 1rem;    
    cursor: pointer;
    color: white;
}

.searchButton:hover{
    background-color: var(--secondary);
    border-radius: .25rem;
    color: var(--white);    
    border: none;
    padding: 0.3rem;
    font-size: 1rem;    
    cursor: pointer;
    color: white;
}

.searchFilters{
    border: var(--secondary);
    padding: 2rem;
    border-radius: .25rem;
    /* border: var(--secondary) solid 1px; */
    margin-bottom: 1rem;
    background-color: var(--bg-light);
}

.setups{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    border: var(--secondary) solid 1px;
    border-radius: .5rem;
    background-color: var(--bg-light);
}

.setupstwo{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    border: var(--secondary) solid 1px;
    border-radius: .5rem;
    background-color: var(--bg-light);
}

.setups_headertwo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    justify-content: center;
    align-items: start;
}

.setups_headertwo h4{
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}

.setups_headertwo a{
    text-decoration: none;
    color: black;
}

.setups_header h4{
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}

.setups_header a{
    text-decoration: none;
    color: black;
}

.setups_header a:hover{
    text-decoration: none;
    color: var(--primary);
}

.setups_btns{
    /* border: var(--secondary) solid 1px; */
    padding: .75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100%;
    border-radius: .5rem;
    background-color: #e3e1e1;
    margin-bottom: .5rem;
}

.setups_btns i{
    font-size: 1.5rem;
    color: var(--secondary);
}

.setups_btns p{
    font-weight: 400;
    margin: 0px;
}

/* MODAL SETUPS */
.modal-heading{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary);
}

.generalDiv {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: #e9e6e6 solid 1px;
}

.generalDiv p{
    margin: 0rem;
}

.generalDiv p.title{
    font-weight: 700;
    color: var(--primary);
}

.general_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.general_info_header{
    font-weight: 700;
    background-color: var(--secondary);
    color: white;
    padding: .25rem 1rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    width: fit-content;
}



 